
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: Arial, sans-serif;
    }
   body {
        background-color: #e2f103;
        color: #333;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
    }

    .content {
        flex: 1 1 400px;
        max-width: 500px;
        padding: 20px;
    }

    .content h1 {
        color: #ff3399;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .cta-button {
        background-color: #ff3399;
        color: white;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 50px;
        transition: background-color 0.3s;
    }

    .cta-button:hover {
        background-color: #ff66b3;
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column-reverse;
        }
        .content, .image-container {
            max-width: 100%;
        }
        .content h1 {
            text-align: center;
        }
        .content p {
            text-align: center;
        }
        .cta-button {
            display: block;
            margin: 0 auto;
        }
    }